@import url('https://fonts.googleapis.com/css2?family=Domine:wght@700&family=Fraunces:opsz@9..144&display=swap');

$tipografiabody: 'Fraunces', serif;
$tipografiatitulos: 'Domine', serif;


body {
    font-family: $tipografiabody;
  
}

main {
    background-color: rgb(240, 219, 180);
}

.h3 {
    font-family: $tipografiatitulos;
    font-weight: 700;
}

.h5 {
    font-family: $tipografiatitulos;
}

.display-2 {
    font-family: $tipografiatitulos;
    font-weight: bold;
}

.navbar-expand-lg {
    background-color:#f0b295 ;
}

.btn-outline-secondary {
    --bs-btn-color: white;
    --bs-btn-bg: #214cc2;
}

footer {
    height: 30vh;
    background-color: #f0b295; 
 }

@media (max-width: 768px) {}
